.singup-pag{
    margin: auto;
    padding: 50px;
    max-width: 420px;
    border-radius: 50px;
    background-color: rgb(29,29,29);
    /* box-shadow: 5px 5px rgb(224, 224, 224); */
}

label {
    padding: 0 2px;
    color: var(--fc-dark);
    font-family: inherit;
    font-size: 1.15384615rem;
    font-weight: 600;
}

.input-box {
    width: 95%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0.6em 0.7em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    font-size: 13px;
    font-family: inherit;
}

.submit-btn{
    width: 100%;
    font-weight: 600;
    height: 30px;
    background-color: #d175b7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow: 3px 3px 3px rgb(223, 223, 223); */
    margin-bottom: 10px;
}

.submit-btn:hover{
    background-color: rgb(29,29,29);
    border: 2px solid #d175b7;
    color: #d175b7;
    font-weight: 800;
}