.Home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-bottom: 80px;
  }
  
  .main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 150px;
    max-width: 750px;
    min-height: 100px;
    text-align: center;
    margin: 20px 20px;
    border-radius: 20px;
    background-color: rgb(29,29,29);
  }

  .main-text b{
    color: #d175b7;
    font-weight: 800;
  }
  
  .tag-btn{
    background-color: #d175b7;
    margin: 5px;
    padding: 20px;
    border: none;
    /* box-shadow: 1px 1px rgba(114, 114, 1141,0.8); */
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(29,29,29);
  }

  .back-btn{
    margin: 5px;
    padding: 10px;
    border: none;
    /* box-shadow: 1px 1px rgb(214, 214, 214); */
    border-radius: 100%;
    cursor: pointer;
  }

  .back-btn:hover{
    background-color: crimson;
    color: whitesmoke;

  }

  .active-tag{
    font-weight: 500;
  }
  
  .tag-btn:hover{
    /* background-color: rgba(255,194,102,0.8); */
    background-color: #d175b796;
  }
  
  .add-btn{
    background-color: #d175b7;
    color: #010402;
    margin: 5px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 400;
  }
  
  .add-btn:hover{
    /* background-color: rgba(255,194,102,0.8); */
    background-color: #d175b7;
  }

  .icons-btns{
    font-size: 16px;
    margin-bottom: 0;
    display: flex;
    justify-content:center;
  }

  .icon-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .icon-btn svg{
      color: gray;
  }

  .icon-btn svg:hover{
      color: red;
  }



  .like-btn-txt{
    margin-left: 5px;
    font-weight: 500;
  }

  .like-btn-active{
    animation: .5s linear burst; 
  }

  @keyframes burst{
    0%,10%{
        transform: scale(1);
        opacity: .5;
        color:lavender;
    }
    45%{
        transform: scale(.2) rotate(30deg);
        opacity: .75;
    }
    50%{
        transform: scale(2) rotate(-37.5deg);
        opacity: 1;
        color: red;
        text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
    }
    90%,95%{
        transform: scale(1) rotate(10deg);
        text-shadow: none;
    }
    100% {
        transform: rotate(-2.5deg);
    }

  }

  .small-txt{
    font-size: small;
    color: #a1a1a1;
  }