.Home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    /* background-color: rgb(255, 194, 102); */
    min-height: 150px;
    max-width: 750px;
    min-height: 200px;
    text-align: center;
    margin: 5px 5px;
    border-radius: 20px;
    /* box-shadow: 5px 5px rgb(224,224,224); */
    box-shadow: 5px 5px  rgb(255, 194, 102);
  }
  
  .tag-btn{
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tag-btn:hover{
    background-color: rgba(255,194,102,0.8);
  }
  
  .add-btn{
    background-color: rgb(255, 194, 102);
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-btn:hover{
    background-color: rgba(255,194,102,0.8);
  }