ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
    background-color: #010402;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #a1a1a1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #d175b7;
    color: white;
    border-radius: 50%;
    font-weight: 500;
  }
  
  .active {
    background-color: #d175b7;
  }