footer {
    /* position:absolute; */
    justify-content: center;
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: #010402;
  }

  b {
    color: #d175b7
  }