.tag-btn{
    height: 80px;
    width: 160px;
    background-color: rgb(29,29,29);
    margin: 10px 10px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: medium;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
  }

  .btn-txt{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    /* display: block; */
    text-overflow: ellipsis;
    font-size: medium;
}

.shaddow-progress{
  margin: auto;
  position: relative;
  top: 5px;
  vertical-align: middle;
  height:6px;
  width:80%;
  background-color: #d34ead;
  border-radius: 10px;
}
